strategy:
  matrix:
    linux:
      operatingSystem: ubuntu-latest
    mac:
      opeartingSystem: macos-latest

trigger:
- main

pool:
  vmImage: $(operatingSystem)

steps:
- script: echo Hello, world!
  displayName: 'Run a one-line script'

